<!DOCTYPE html>
<html>            
    <style type="text/css">
        label,input{display:block}
        input:not([type='submit']){margin-bottom:2px; padding: 10px; font-size: 20px; width: 300px}
        fieldset{width: 500px;margin: 0 auto; color: orangered;}
    </style>            
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <fieldset>
            <legend>Dados de Login</legend>
            <label for="login_txt">Login</label>
            <input type="text" name="login" id="login_txt" placeholder="Login"/>
            <label for="senha_txt">Senha</label>
            <input type="password" name="senha" id="senha_txt" placeholder="*****" />      
            <input type="submit" value="Logar" />
        </fieldset>
    </body>
</html>